@import "tailwindcss";

:root {
  font-family: "Roboto Serif", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #FFF2D7;
  background-color: #1f1e1d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto Serif", serif;
  background-color: #1f1e1d;
  color: #FFF2D7;
}
